@model IEnumerable<WebApiAssignment1.Models.EntityLayer.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "InsertCust","Version")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("UPDATE", "UpdateCust","Version", new { id = item.Id }, new { @class = "btn btn-warning" })
            @using (Html.BeginForm("DeleteCust", "Version", new { id = item.Id }, FormMethod.Post, new { @class = "d-inline", id = "deleteForm" + item.Id }))
            {
                <button type="submit" class="btn btn-danger">DELETE</button>
            }
        </td>
    </tr>
}

</table>
